<table class="entity-table">
  <thead>
    <tr>
      <th class="name-header">Name</th>
      <th class="actions-header"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td class="name-cell">
        <div class="name-wrapper">
          <mat-icon class="dot-icon">more_vert</mat-icon>
          <div class="name-label">
            <div class="primary">{{ item.name }}</div>
          </div>
        </div>
      </td>
      <td class="actions-cell">
        <div class="action-wrapper">
          <button class="action-button">Preview</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
