<div
  class="overlay-backdrop"
  *ngIf="isVisible$ | async"
  (click)="close()"
></div>

<div class="overlay-panel" [class.show]="isVisible$ | async">
  <div class="overlay-container">
    <app-overlay-header
      [title]="'Amazon.com, Inc.'"
      [subtitle]="'ID: 1'"
      [tabs]="['Details', 'Systems', 'References']"
      [selectedTab]="selectedTab"
      (tabChanged)="selectedTab = $event"
    />

    <div class="overlay-body">
      <app-collapsible-section
        *ngFor="let section of sections; let i = index"
        [title]="section.title"
        [count]="section.count"
        [iconName]="section.iconName"
        [sectionItems]="section.sectionItems ?? []"
        [isFirst]="i === 0"
      />
    </div>
  </div>
</div>
