<div class="section-container">
  <div class="section-header" [attr.aria-label]="'Toggle' + title + ' section'">
    <div class="left">
      <mat-icon class="section-icon">{{ iconName }}</mat-icon>
      <span class="section-title">{{ title }}</span>
      <ng-container *ngIf="title === 'Tasks'">
        <app-badge label="0 Open"></app-badge>
        <app-badge label="0 Recurring"></app-badge>
      </ng-container>

      <ng-container *ngIf="title !== 'Tasks'">
        <app-badge [label]="count.toString()"></app-badge>
      </ng-container>
    </div>

    <div class="right">
      <app-action-button
        icon="more_horiz"
        type="icon"
        ariaLabel="More options"
        (click)="toggle()"
      />

      <app-action-button
        [icon]="isOpen ? 'expand_more' : 'chevron_right'"
        type="icon"
        (click)="toggle()"
        [attr.aria-label]="isOpen ? 'Collapse section' : 'Expand section'"
      />
    </div>
  </div>

  <div
    class="section-body"
    #tableSection
    [@collapse]="isOpen ? 'open' : 'closed'"
    [style.display]="isOpen || isAnimating ? 'block' : 'none'"
    (@collapse.start)="onAnimationStart()"
    (@collapse.done)="onAnimationDone()"
  >
    <app-entity-table [items]="sectionItems"></app-entity-table>
  </div>
</div>
