<div class="section-container">
  <div class="section-header" (click)="toggle()">
    <div class="left">
      <mat-icon class="section-icon">{{ iconName }}</mat-icon>
      <span class="section-title">{{ title }}</span>
      <ng-container *ngIf="title === 'Tasks'">
        <app-badge label="0 Open"></app-badge>
        <app-badge label="0 Recurring"></app-badge>
      </ng-container>

      <ng-container *ngIf="title !== 'Tasks'">
        <app-badge [label]="count.toString()"></app-badge>
      </ng-container>
    </div>

    <div class="right">
      <mat-icon class="icon-button">more_horiz</mat-icon>
      <mat-icon class="icon-button expand-icon">
        {{ isOpen ? "expand_more" : "chevron_right" }}
      </mat-icon>
    </div>
  </div>

  <div class="section-body" *ngIf="isOpen">
    <ng-container *ngIf="isOpen">
      <app-entity-table [items]="sectionItems"></app-entity-table>
    </ng-container>
  </div>
</div>
